/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

/* Universal Styles */
body {
    font-family: 'Finlandica', sans-serif;
}

/*------------------------------------
          Top Banner Styles 
--------------------------------------*/
.top-banner {
    display: flex;
    width: 1321px;
    height: 646px;
    margin: auto;
    background: #161616;
    border-radius: 30px;
}

.banner-text {
    width: 50%;
    color: white;
    margin: 90px 110px;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 70px;
    margin-top: 0;
}

.banner-title2 {
    width: 450px;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner-text p {
    font-size: 25px;
}

.watch-button {
    display: flex;
    background: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700px;
    gap: 10px;
    margin-top: 60px;

}

.watch-button h3 {
    font-weight: 400;
    font-size: 25px;
}

.banner-photo {
    width: 50%;
    margin: 10px;
}

.banner-photo img {
    width: 581px;
    height: 613px;
}

/* -----------------Media Query------------------- */

/* -------------Mobile Device------------------ */
@media screen and (max-width: 576px) {
    .top-banner {
        display: block;
        width: 334px;
        height: 479px;
        margin: 0 auto;
        background: #161616;
        border-radius: 10px;
    }

    .banner-text {
        width: 258px;
        height: 178px;
        margin: 0 auto;
        padding: 28px 0;
    }

    .banner-text h1 {
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        margin-top: 0;
    }

    .banner-title2 {
        text-align: center;
        width: 225px;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-text p {
        text-align: center;
        font-size: 14px;
    }

    .watch-button {
        display: flex;
        width: 161px;
        height: 40px;
        background: #DD0000;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        font-weight: 700px;
        gap: 10px;
        margin: 10px auto;

    }

    .watch-button h3 {
        font-weight: 400;
        font-size: 15px;
    }

    .banner-photo {
        width: 233px;
        height: 245px;
        margin: 0 auto;
    }

    .banner-photo img {
        width: 100%;
        height: 100%;
    }
}