/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

/* Universal Styles */
body {
    font-family: 'Finlandica', sans-serif;
}

/*------------------------------------
          Top Banner Styles 
--------------------------------------*/

.top-banner {
    display: flex;
    width: 1321px;
    height: 646px;
    margin: auto;
    background: #161616;
    border-radius: 30px;
    gap: 50px;
}

.banner-text {
    color: white;
    width: 531px;
    height: 424px;
    padding-left: 100px;
    padding-top: 30px;
}

.banner-title {
    font-size: 70px;
    /* -webkit-text-fill-color: rgba(0, 200, 200, 0.1);
    -webkit-background-clip: text;
    background-image: url("https://www.dropbox.com/s/3ytqfq5i4qcgtgd/31799ac0a3b22bb56bd4f278fb80964c.gif?dl=1"); */
}

.banner-title2 {
    width: 450px;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner-text p {
    font-size: 25px;
}

.watch-button {
    display: flex;
    gap: 10px;
    background: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700px;
    margin-top: 60px;
}

.banner-photo {
    /* width: 581px;
    height: 613px;
    padding-top: 30px; */

    /* width: 100%;
    padding: 29px; */
}

.banner-photo img {
    width: 100%;
    height: 100%;
}